<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GetWeather.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GetWeather.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GetWeather.Properties.Settings.Weather_DBConnectionString"
            connectionString="Data Source=SERGEYPC;Initial Catalog=Weather_DB;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <GetWeather.Properties.Settings>
            <setting name="test" serializeAs="String">
                <value>http://www.weather.gov/data/current_obs/KTEB.xml</value>
            </setting>
            <setting name="ForecastURL" serializeAs="String">
                <value>"http://www.google.com/ig/api?weather=" </value>
            </setting>
        </GetWeather.Properties.Settings>


    </applicationSettings>
    <userSettings>
        <GetWeather.Properties.Settings>
            <setting name="WeatherStation" serializeAs="String">
                <value>http://nws.noaa.gov/data/current_obs/KTEB.xml</value>
            </setting>
            <setting name="ForecastLocation" serializeAs="String">
                <value>07410</value>
            </setting>
        </GetWeather.Properties.Settings>
    </userSettings>
  </configuration>